*{
    margin: 0;
    padding: 0;
}

.head{
    min-height: 100vh;
    width: 100%;
    background: #4c3b70;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 85px;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    z-index: 1;
}

.logo{
    text-decoration: none;
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 3%;
}

.nav-links{
    width: 600px;
    text-align: right;
    background: #9a83ee;
    padding: 10px 20px;
    border-bottom-left-radius: 30px;
}

.nav-links ul{
    display: flex;
    align-items: center;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding-top: 5px;
    padding-right: 25px;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li a:hover {
    color: #4b3b6f !important;
    font-weight: bold !important;
    text-decoration: underline !important;
    font-size: 20px !important;
    transition: 0.1s !important;
}

.leftside-bar{
    width: 15%;
    height: 100%;
    position: absolute;
    background: #9a83ee;
    left: 0;
    top: 0;
}

.contents{
    display: flex;
    position: absolute;
    left: 20%;
    width: 80%;
    z-index: 2;
    color: white;
}

.foot{
    position: absolute;
    width: 100%;
    height: 100px;
    margin-bottom: -20px;
    background: #252525;
}

.foot h6{
    color: #ffffff;
    text-align: center;
    justify-items: center;
    justify-content: center;
    font-size: 15px;
}